<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>Log-In Here</title>
    </head>
    <body>
        <div class="containerLogin">
            <div class="box">
                <form action="/login" method="POST" class="form">
                    <input
                        type="text"
                        name="username"
                        placeholder="INSERT EMAIL"
                        autocomplete="off"
                    />
                    <input
                        type="password"
                        name="password"
                        placeholder="INSERT PASSWORD"
                        autocomplete="off"
                    />
                    <p class="btn">
                        <input
                            type="submit"
                            class="button"
                            class="button"
                            value="LOGIN"
                            autocomplete="off"
                        />
                    </p>
                </form>
                <p class="btn">
                    IF YOU ARE NEW:
                    <a href="/register" class="button">CLICK HERE</a>%>
                </p>
            </div>
        </div>
    </body>
</html>
