<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>Error</title>
    </head>
    <body>
        <div class="containerLoginError">
            <div class="box">
                <p class="warning">USER OR PASSWORD INCORRECT</p>
                <section class="btnsContainer">
                    <p>
                        IF YOU ALREADY HAVE ACCOUNT:
                        <a href="/" class="button"
                            >CLICK HERE</a
                        >
                    </p>
                    <p>
                        IF YOU ARE NEW:
                        <a href="/register" class="button"
                            >CLICK HERE</a
                        >
                    </p>
                </section>
            </div>
        </div>
    </body>
</html>
