<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <nav>
                <h1 id="title"><%= username %> PERSONAL MESSAGES</h1>
                <a class="links" href="/main">CART</a>
                <a class="links" href="/products">PRODUCTS</a>
                <a class="links" href="/products/notebooks">NOTEBOOKS</a>
                <a class="links" href="/products/computers">COMPUTRERS</a>
                <a class="links" href="/chat">SUPPORT</a>
                <a class="links" href="/chat/<%= username %>"
                    >PERSONAL MESSAGES</a
                >
                <form action="/logout" method="POST">
                    <input type="submit" value="LOG OUT" />
                </form>
            </nav>
            <h1>YOUR PERSONAL MESSAGES</h1>
            <% if (messages) {%> 
                <% messages.forEach(author => { %>
            <p>|| <%= author.username %> || : <%= author.message %></p>
            <% }) %> <% }else if(messages.length === 0){ %>
            <p>NO MESSAGES SENT WITH THIS MAIL</p>
            <%}%>
        </div>
    </body>
</html>
