<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Register Here</title>
</head>
<body>
    <div class="containerRegister">
        <div class="box">
        <h1>REGISTER</h1>
        <form action="/register" method="POST" class="form">
        <input type="text" name="name" id="name" placeholder="INSERT NAME AND LASTNAME">
        <input type="email" name="username" id="username" placeholder="INSERT EMAIL" autocomplete="off" required>
        <input type="password" name="password" id="pass" placeholder="INSERT PASSWORD" autocomplete="off" required>
        <input type="password" name="password2" id="pass" placeholder="INSERT PASSWORD AGAIN PLEASE" autocomplete="off" required>
        <input type="text" name="address" id="address" placeholder="INSERT CURRENT ADDRESS" autocomplete="off" required>
        <input type="tel" name="phone" id="phone" placeholder="(countryCode)(areaCode)(phoneNumber)" autocomplete="off" required>
        <section class="btnContainer">
        <input type="submit" value="REGISTER" class="button">
        <a href="/" class="button">GO TO LOGIN</a>
        </section>
        </div>
       
    </div>
</body>
</html>